[user]
  name = Timothy Cosgriff
  email = lambchop4prez@users.noreply.github.com
[init]
  defaultBranch = main
[pull]
  rebase = false
[push]
  autoSetupRemote = true
[safe]
  directory = *
[fetch]
  prune = true
[includeIf "gitdir:~/Source/datameld/"]
  path = .gitconfig-work
